[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
pillow = "*"
django-storages = "*"
"boto3" = "*"
uwsgi = "*"
djangorestframework = "*"
requests = "*"

[dev-packages]
ipython = "*"
django-extensions = "*"
awsebcli = "*"
pygraphviz = "*"
"beautifulsoup4" = "*"
lxml = "*"

[requires]
python_version = "3.6"
